body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    text-decoration-color: blueviolet;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
