body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 50px;
    text-decoration-color: rgb(14, 1, 68);
    background-color: rgb(255, 255, 255);
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.container {
    align-content: center;
    margin: auto;
    text-align: center;
    margin-top: auto;
    font-size: xx-large;
}
