body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 50px;
    text-decoration-color: rgb(14, 1, 68);
    background-color: rgb(161, 181, 224);
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#container {
    margin-top: 20px;
}
.image-box-shirt {
    border: 2px solid #333;
    padding: 10px;
    display: inline-block;
    text-align: center;
}
.image-box-shirt img {
    width: 150px; /* Adjust size as needed */
    height: auto;
}