body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 50px;
    text-decoration-color: rgb(14, 1, 68);
    background-color: rgb(255, 255, 255);
}


button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}


.image_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; /* centers the images */
    align-items: center; /* centers vertically if needed */ 
    gap: 10px; /* optional: nice spacing */
}

.image_container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 5px;
    /* align-content: center; */
}


